[submodule "mpi-Knn"]
	path = mpi-Knn
	url = https://github.com/papoudaa/mpi-Knn.git
[submodule "PageRank"]
	path = PageRank
	url = https://github.com/papoudaa/PageRank.git
[submodule "Cuda-Mean-Shift"]
	path = Cuda-Mean-Shift
	url = https://github.com/papoudaa/Cuda-Mean-Shift.git
